
@model IEnumerable<Demo1.Models.StudentGradeModel>

<table class="table">
    <tr>
        <th>
            用户名称
        </th>
        <th>
            试卷名称
        </th>
        <th>
            学生成绩
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.testInfo.test_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentGrade.grade)
            </td>
            <td>
                @Html.ActionLink("查看学生答题情况", "ToTestAnswer", new { test_id = item.testInfo.test_id , userid = item.user.id})
            </td>
        </tr>
    }
</table>